[submodule "slurmtestenvironment"]
	path = slurmtestenvironment
	url = ssh://git@gitlab.ci.csc.fi:10022/compen/css/slurmtestenvironment.git
[submodule "funnel"]
	path = funnel
	url = https://github.com/ohsu-comp-bio/funnel.git
